
/*FONTS*/
@font-face {
  font-family: "Milkshake";
  src: url('../compatible/milkshake-webfont.woff2') format('woff2'),
       url('../compatible/milkshake-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: 'OstrichSansReg';
    src: url('../compatible/ostrich-regular-webfont.woff2') format('woff2'),
         url('../compatible/ostrich-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura';
    src: url('../compatible/futura_bold_font-webfont.woff2') format('woff2'),
         url('../compatible/futura_bold_font-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'futura';
    src: url('../compatible/futura_light_bt-webfont.woff2') format('woff2'),
         url('../compatible/futura_light_bt-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'futura';
    src: url('../compatible/futura_medium_condensed_bt-webfont.woff2') format('woff2'),
         url('../compatible/futura_medium_condensed_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* DEFAULT */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, header, main, footer, h1, h2, h3, h4, h5, h6, p, div, li, ul, ol, span, section, aside, nav {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Futura', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 10px;
  background-color: #EFEFEF;
  color: #000;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFF;
}

a:hover {
  color: #D92818;
}

/* HEADER */

/* LOGO */

.title_box {
  position: relative;
  height: 95px;
  width: 225px;
  margin: 20px auto;
  font-family: "Milkshake", sans-serif;
  text-shadow: 0 0 7px #FFF, 0 0 25px #D92818;
}

 .title_box span{
  color: #FF3B3F;
}

.The70 {
  position: absolute;
  font-size: 35px;
  transform: rotate(-20deg);
}

.Diner {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 80px;
}

.base_bg {
  position: absolute;
  top: 32px;
  left: 7px;
  width: 230px;
  height:70px;
  border-radius: 20px;
  background-color: #4AC0BF;
}

.base_tp {
  position: absolute;
  width: 70px;
  height:70px;
  top: 5px;
  left: 85px;
  border-radius: 40px;
  background-color: #4AC0BF;
}

/* NAVIGATION */
#navbar {
  background-color: #4AC0BF;
  height: 2.2rem;
  padding-top: 0.1rem;
  position: absolute;
  width: 100%;
  top: calc(105px - 1.8rem);
}

.drop-down {
  display: flex;
  justify-content: space-around;
}

[class^="drop-down-content"] {
  display: none;
  padding-bottom: 0.5rem;
}

.drop-down li a {
  font-size: 2.5em;
  padding-left: 0.5rem;
}

.drop-down li:nth-child(1), .drop-down li:nth-child(2) {
  width: 15em;
}

.drop-down-style {
  background-color:#4AC0BF;
  border-radius: 0 0 15px 15px;
}

/* TITLE */
#title {
  font-family: 'Milkshake', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #D92A1A;
  font-size: 9em;
  text-align: center;
}

#date {
  font-size: 5em;
  text-align: center;
  font-family: 'OstrichSansReg', sans-serif;
}

/* BACKGROUND */
#bg {
  background-color: #50BFBF;
  padding: 1rem;
  text-align: center;
  width: 75%;
  margin: 5rem auto;
  border-radius: 20px;
}

/* MENU */
.subheader {
  font-size: 5em;
  color: #FFF;
  margin-bottom: 2rem;
  margin-top: 2rem;
  text-transform: uppercase;
  padding-bottom: 2rem;
  border-bottom: 3px solid #D92A1A;
  box-shadow: 0px 3px #FFF;
}

.item-price-container {
  display: flex;
  font-size: 3.5em;
  justify-content: space-between;
  color: #D92A1A;
  font-family: 'Milkshake', sans-serif;
}

.item-price-container p {
  color: #000;
  font-family: 'Futura', sans-serif;
}

.menu-items {
  width: 75%;
  margin: 0 auto;
}

.menu-items > p{
  font-size: 2.5em;
  margin-bottom: 2rem;
}

/* FOOTER */
#footer {
  background-color: #50BFBF;
  color: #FFF;
  font-size: 2em;
}

.bg-bar-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content:center;
  padding: 1rem;
  width: 100%;
}
