
/*FONTS*/
@font-face {
  font-family: "Milkshake";
  src: url('../compatible/milkshake-webfont.woff2') format('woff2'),
       url('../compatible/milkshake-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

@font-face {
    font-family: 'OstrichSansReg';
    src: url('../compatible/ostrich-regular-webfont.woff2') format('woff2'),
         url('../compatible/ostrich-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_bdcn_btbold';
    src: url('../compatible/futura_bold_font-webfont.woff2') format('woff2'),
         url('../compatible/futura_bold_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_lt_btlight';
    src: url('../compatible/futura_light_bt-webfont.woff2') format('woff2'),
         url('../compatible/futura_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'futura_mdcn_btmedium';
    src: url('../compatible/futura_medium_condensed_bt-webfont.woff2') format('woff2'),
         url('../compatible/futura_medium_condensed_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header, body, footer, main, section, aside, h1, h2, h3, h4, p, nav, form, button, li, ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 10px;
  font-family: 'futura_mdcn_btmedium',sans-serif;
  font-weight: normal;
  font-style: normal;
  color: black;
  background-color: #50BFBF;
  padding: 2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: underline;
  /* color: #024059; */
  color: #FFF;
}

.hidden {
  display: none;
}

/* HEADER */
#header {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center
}

h1 {
  font-family: "Milkshake", sans-serif;
  font-size: 9em;
  color: rgb(217, 42, 26);
  font-weight: normal;
  font-style: normal;
}
#header h2 {
  font-size: 3em;
}

#header h3 {
  font-family: 'OstrichSansReg', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5em;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* Job Categories */
.job-types-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.job-types-container a:hover {
  text-decoration: none;
  color: #FFF;
}

.job-type{
  font-family: "Milkshake", sans-serif;
  font-size: normal;
  font-weight: normal;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2421B;
  font-size: 2.5em;
  box-shadow: 3px 3px 4px #FFF;
}

.job-type:hover {
  background-color:#E53F1A;
  cursor: pointer;
}

/* MAIN */
.job-postings-image-container {
  max-width: 1000px;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* category-titles */
.category-title {
  font-family: 'OstrichSansReg', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5em;
  margin-top: 2rem;
}

/* job titles */
li [class^="job-"] {
  font-size: 2.5em;
}

/* image container */
.img-container {
  width: 400px;
}

.img-container img {
  width: 100%;
}

/* POP UP BOX */
#close {
  position: absolute;
  right: 0;
  margin-right: 1rem;
  font-size: 5em;
}

.pop-up {
  padding: 1rem;
  height: calc(100vh - 5%);
  width: calc(100vw - 5%);
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(((100vw - 5%)/2)* -1);
  margin-top: calc(((100vh - 5%)/2)* -1);
  overflow: scroll;
  border-radius: 5px;
}

.job-descriptions {
  margin: 2rem;
}

/* job titles */
.job-title-container h3, .job-description-container h3{
  font-size: 3em;
}

.job-title-container span {
  font-style: normal;
  font-weight: lighter;
}

.job-description-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#job-description h2{
  font-family: 'OstrichSansReg', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
}

#job-description p, #job-description li{
  font-size: 2em;
  list-style:circle;
  margin-left: 1rem;
}

/* FORM */
.form-wrapper {
  max-width: 60%;
}

.input-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-row label {
  font-size: 3em;
}

.input-row input, textarea {
  width: 500px;
  height: 50px;
  margin: 1rem;
  border: none;
  box-shadow: -1px -1px 2px #AAAFB2;
}

#app-info {
  height: 200px;
}

#sbt-btn {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-family: 'OstrichSansReg', sans-serif;
  font-weight: normal;
  font-style: normal;  font-size: 3em;
  background-color: #024059;
  box-shadow: inset black -1px -1px 2px;
}

#sbt-btn:hover {
  background-color: #035475;
}

#sbt-mssg {
  font-size: 2em;
}
