
.pop-up {
  height: calc(100vh - 20%);
  width: calc(100vw - 20%);
  background-color: white;
  border: 1px solid black;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: calc(((100vw - 20%)/2)* -1);
  margin-top: calc(((100vh - 20%)/2)* -1);
}

.hidden {
  display: none;
}
