@font-face {
  font-family: "Milkshake";
  src: url("Fonts/Milkshake.otf") format("opentype");
  src: url("Fonts/Milkshake.ttf");
}

@font-face {
  font-family: "OstrichSans";
  src: url("Fonts/ostrich-regular.ttf");
  src: url("Fonts/OstrichSansBold.otf");
  src: url("Fonts/OstrichSans-Light.otf");
  src: url("Fonts/OstrichSans-Black.otf");
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header, body, footer, main, section, aside, h1, h2, h3, h4, p, nav, form, button {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 10px;

}
