/*FONTS*/
@font-face {
  font-family: "Milkshake";
  src: url("../Fonts/Milkshake.otf") format("opentype");
  src: url("../Fonts/Milkshake.ttf");
}

@font-face {
  font-family: "OstrichSans";
  src: url("../Fonts/ostrich-regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "OstrichSansBold";
  src: url("../Fonts/OstrichSans-Bold.ttf");
  font-weight: bold;
}

/*DEFAULT*/
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

header, body, footer, main, section, aside, h1, h2, h3, h4, p, nav, form, button, li, ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 10px;
  font-family: 'OstrichSans',sans-serif;
  font-weight: normal;
  color: black;
  background-color: #50BFBF;
}

ul {
  list-style-type: none;
}

/*USE EVERYWHERE*/
#main {
  padding: 1rem;
}

[class$="design-container"] {
  display: flex;
  flex-flow: row wrap;
}

#main-design h3 {
  font-size: 3em;
  padding-top: 1.5rem;
}

#main-design p, label {
  font-size: 2em;
}

/*MAIN*/
.main-design-and-result-container {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

/*MAIN TITLE*/
.main-title-wrapper{
  margin: 0 auto;
  text-align: center;
  width: 1265px;
  padding: 2rem;
}

.main-title-wrapper h2{
  font-size: 2em;
}

#giftcards {
  font-size: 5em;
}

/*GC BACKGROUND COLORS*/
.background-color-design-container div {
  width: 10em;
  height: 10em;
  border: 1px solid black;
  border-radius: 50%;
  margin: 1rem;
}

#darkblue {
  background-color: rgb(4, 117, 163);
}

#teal {
  background-color: rgb(3, 166, 150);
}

#mustard {
  background-color: rgb(219, 202, 105);
}

#mauve {
  background-color: rgb(168, 195, 255);
}


.color-text {
  text-align: center;
  margin: 1rem;
}

/*GC FONT*/
.font-design-container div{
  width: 5em;
  height: 5em;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  background-color: #FFF;
}

.font-design-container > li {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.font-text {
  text-align: center;
}

#arial {
  font-family: Arial, sans-serif;
  font-size: 2em;
}

#impact {
  font-family: 'Impact', sans-serif;
  font-size: 2em;
}

#helv {
  font-family: 'Helvetica', sans-serif;
  font-size: 2em;
}

#georgia {
  font-family: Georgia, sans-serif;
  font-size: 2em;
}

/*GC ICONS*/
.image-design-container > li {
  border:1px solid black;
  margin: 1rem;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}

.image-design-container i {
  font-size: 3em;
}

/*GC NAME*/
.message-container {
  display: flex;
  align-items: center;
  margin: 1em;
}

.message-container input {
  height: 40px;
  width: 400px;
  margin-left: 1rem;
  border: 1px solid #000;
  font-size: 1.5em;
}

/*GC AMOUNT*/
.amount-container {
  margin: 1em;
  display: flex;
  align-items: center;
}

.amount-container p:nth-child(4) {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  align-self: flex-end;
}

.amount-container label {
  margin-right: 1rem;
}

.amount-container input {
  height: 40px;
  width: 60px;
  font-size: 2em;
  border: 1px solid #000;
}

/*GIFT CARD PREVIEW*/
#main-result h2 {
  font-size: 3em;
}

.preview {
  width: 40em;
  height: 20em;
  background-color: #0475A3;
  border: 0.5px solid #000;
}

.preview h3 {
  color: #D92A1A;
  font-size: 4em;
  font-family: 'Milkshake', sans-serif;
  text-align: center;
}

.preview h4 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5rem;
  font-family: 'Impact', sans-serif;
}

.price-icon-preview-container {
  display: flex;
  justify-content: space-around;
}




[class$="preview-container"] {
  border: 1px solid black;
}


/*COLORS

Dark Blue
hex: #024059
rgb(2, 64, 89)

Light Blue
hex: 50BFBF
rgb(80, 191, 191)

Teal
hex: 03A696
rgb(3, 166, 150)

Orange
hex: F2421B
rgb(242, 66, 27)

Dark Red
hex: D92A1A
rgb(217, 42, 26)

mustard
hex: DBCA69

lighter dark Blue
hex: 0475A3
rgb: rgb(4, 117, 163)

Mauve
hex: A8C3FF
rgb: rgb(168, 195, 255)

*/
