/*COLORS

Dark Blue
hex: #024059
rgb(2, 64, 89)

Light Blue
hex: 50BFBF
rgb(80, 191, 191)

Teal
hex: 03A696
rgb(3, 166, 150)

Orange
hex: F2421B
rgb(242, 66, 27)

Dark Red
hex: D92A1A
rgb(217, 42, 26)

Beige
hex: F2ECE0

*/


/*FONTS*/
@font-face {
  font-family: "Milkshake";
  src: url("../Fonts/Milkshake.otf") format("opentype");
  src: url("../Fonts/Milkshake.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "OstrichSans";
  src: url("../Fonts/ostrich-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OstrichSans";
  src: url("../Fonts/OstrichSans-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../Fonts/futura-med-cond.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "Futura";
  src: url("../Fonts/futura-bold.ttf");
  font-weight:bold;
  font-style: normal;
}

/*DEFAULT STYLES*/
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header, body, footer, main, section, aside, h1, h2, h3, h4, p, nav, form, button, li, ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 10px;
  font-family: 'Futura',sans-serif;
  font-weight: normal;
  font-style: normal;
  color: black;
  background-color: #50BFBF;
}

ul {
  list-style-type: none;
}

/*USE EVERYWHERE*/

.contact-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  max-width: 1290px;
  margin: 2rem auto;
}

h2 {
  font-size: 3em;
  font-weight: normal;
}

h3 {
  font-size: 2.5em;
  font-family: 'OstrichSans', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin-top: 0.8rem;
}

.hidden {
  display: none;
}

/*MAIN HEADING*/
.main-heading-wrapper {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

#contact {
  font-family: "Milkshake";
  font-size: 9em;
  color: rgb(217, 42, 26);
  font-weight: bold;
  font-style: normal;
}

/* CONTACT FORM */
.main-form-wrapper {
  margin-right: 1rem;
}

.form-row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
}

.form-row label:first-child {
  font-size: 2.5em;
  margin-right: 2rem;
}

.form-row input {
  width: 500px;
  height: 40px;
  font-size: 2em;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  box-shadow: inset -1px -1px 2px;
}

/* CONTACT FORM NAME */

[class$="name-container"]{
  display: flex;
  flex-flow: column wrap;
  justify-content:flex-end;
}

[class$="name-container"] label {
  font-size: 1.5em;
}

[class$="name-container"] input {
  width: 170px;
}

/* CONTACT FORM COMMENT */

.form-row textarea {
  width: 500px;
  height: 100px;
  border-radius: 5px;
  box-shadow: inset -1px -1px 2px;
  border: none;
  font-size: 2em;
}

/* CONTACT FORM BUTTON */
.icon-button-container {
  margin: 2rem;
}

#sbt-btn {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: #FFF;
  font-family: 'OstrichSans', sans-serif;
  font-weight: normal;
  font-style: normal;  font-size: 3em;
  background-color: #024059;
  box-shadow: inset black -1px -1px 2px;
}

#sbt-btn:hover {
  background-color: #035475;
}

.fa-motorcycle {
  font-size: 4.5em;
}

@keyframes motorcycle {
  0% {transform: translateX(0px);}
  100% {
    transform: translateX(100vw);
  }
}

/* CONTACT US SECTION */
.main-map-wrapper {
  margin-top: 2rem;
}

.map-contact-container {
  display: flex;
  justify-content: space-between;
}

.map-contact-container p {
  font-size: 2em;
}

#contact-us {
  text-align: center;
  margin-bottom: 2rem;
}
